<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
    </head>
    <body>
        <%= include("header.ejs") %>
        <h2>Welcome to MABS Electronics API</h2>
        <p>We have the widest selection of electronic appliances for your household and industrial needs!</p>
        <%= include("footer.ejs") %>
    </body>
</html>